body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    height: 100vh;
}

.switch{
    -webkit-appearance: none;
    appearance: none;
    width: 80px;
    height: 44px;
    background-color: #c6c6c6;
    border-radius: 30px;
    border: 1px solid gray;
    outline: none;
    position: relative;
    transition: all 1s;
}

.switch:checked{
    background-color: mediumseagreen;
    border: 1px solid mediumseagreen;
}

.switch::before{
    content: "";
    position: absolute;
    width: 42px;
    height: 42px;
    background-color: white;
    border-radius: 50%;
    left: 0;
    top: 0;
    transition: all 0.5s;
}

.switch:checked::before{
    left: 36px;
}